esbperformance/mule/apps/ProxyWSDL-embedded-secure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.samples/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.samples/xsd">
    <wsp:Policy xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="SigEncr">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>

                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>

                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>
                        <sp:MustSupportRefIssuerSerial/>
			<sp:MustSupportRefEmbeddedToken/>
                    </sp:Policy>
                </sp:Wss10>
                <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">

                    <sp:Body/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>

        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.samples/xsd">
            <xsd:complexType name="BuyStocks">
                <xsd:sequence>
                    <xsd:element name="order">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="symbol" type="xsd:string"/>
                                <xsd:element name="buyerID" type="xsd:string"/>
                                <xsd:element name="price" type="xsd:double"/>

                                <xsd:element name="volume" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="buyStocks" type="tns:BuyStocks"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="EchoOperationRequest">
        <wsdl:part name="parameters" element="tns:buyStocks"/>
    </wsdl:message>
    <wsdl:message name="EchoOperationResponse">
        <wsdl:part name="parameters" element="tns:buyStocks"/>
    </wsdl:message>
    <wsdl:portType xmlns:wsp="http://www.w3.org/ns/ws-policy" name="SecureProxyPortType" wsp:PolicyURIs="#SigEncr">
        <wsdl:operation name="buyStocksOperation1K1S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.2.1"/>

            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message1K1S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.6"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message5K"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K5S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.2.5"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message1K5S"/>

        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K1S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.520.1"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message500K1S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K5S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.520.5"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message500K5S"/>
        </wsdl:operation>

        <wsdl:operation name="buyStocksOperation5K1S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.6.1"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message5K1S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.2"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message1K"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation">

            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K1S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.12.1"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message10K1S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K5S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.110.5"/>

            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message100K5S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K5S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.12.5"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message10K5S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.520"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message500K"/>

        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.110"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message100K"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K5S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.6.5"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message5K5S"/>
        </wsdl:operation>

        <wsdl:operation name="buyStocksOperation100K1S">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.110.1"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message100K1S"/>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K">
            <wsdl:input message="tns:EchoOperationRequest" wsaw:Action="urn:buyStocks.12"/>
            <wsdl:output message="tns:EchoOperationResponse" wsaw:Action="http://services.samples/xsd/buyStocksPortType/message10K"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SecureProxySoap11Binding" type="tns:SecureProxyPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="buyStocksOperation5K">
            <soap:operation soapAction="urn:buyStocks.6" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K1S">
            <soap:operation soapAction="urn:buyStocks.2.1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K1S">
            <soap:operation soapAction="urn:buyStocks.520.1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K5S">
            <soap:operation soapAction="urn:buyStocks.2.5" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K1S">
            <soap:operation soapAction="urn:buyStocks.6.1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K5S">
            <soap:operation soapAction="urn:buyStocks.520.5" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation">
            <soap:operation soapAction="urn:buyStocks" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K">
            <soap:operation soapAction="urn:buyStocks.2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K1S">
            <soap:operation soapAction="urn:buyStocks.12.1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K5S">
            <soap:operation soapAction="urn:buyStocks.110.5" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K5S">
            <soap:operation soapAction="urn:buyStocks.12.5" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K">
            <soap:operation soapAction="urn:buyStocks.520" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K">
            <soap:operation soapAction="urn:buyStocks.110" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K1S">
            <soap:operation soapAction="urn:buyStocks.110.1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K5S">
            <soap:operation soapAction="urn:buyStocks.6.5" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K">
            <soap:operation soapAction="urn:buyStocks.12" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SecureProxySoap12Binding" type="tns:SecureProxyPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="buyStocksOperation5K">
            <soap12:operation soapAction="urn:buyStocks.6" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K1S">
            <soap12:operation soapAction="urn:buyStocks.2.1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K1S">
            <soap12:operation soapAction="urn:buyStocks.520.1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K5S">
            <soap12:operation soapAction="urn:buyStocks.2.5" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K1S">
            <soap12:operation soapAction="urn:buyStocks.6.1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K5S">
            <soap12:operation soapAction="urn:buyStocks.520.5" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation">
            <soap12:operation soapAction="urn:buyStocks" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation1K">
            <soap12:operation soapAction="urn:buyStocks.2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K1S">
            <soap12:operation soapAction="urn:buyStocks.12.1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K5S">
            <soap12:operation soapAction="urn:buyStocks.110.5" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K5S">
            <soap12:operation soapAction="urn:buyStocks.12.5" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation500K">
            <soap12:operation soapAction="urn:buyStocks.520" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K">
            <soap12:operation soapAction="urn:buyStocks.110" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation100K1S">
            <soap12:operation soapAction="urn:buyStocks.110.1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation5K5S">
            <soap12:operation soapAction="urn:buyStocks.6.5" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="buyStocksOperation10K">
            <soap12:operation soapAction="urn:buyStocks.12" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SecureProxy">
        <wsdl:port name="SecureProxyHttpsSoap11Endpoint" binding="tns:SecureProxySoap11Binding">
            <soap:address location="https://localhost:8243/services/SecureProxy.SecureProxyHttpsSoap11Endpoint"/>

        </wsdl:port>
        <wsdl:port name="SecureProxyHttpSoap11Endpoint" binding="tns:SecureProxySoap11Binding">
            <soap:address location="http://localhost:8280/services/SecureProxy.SecureProxyHttpSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="SecureProxyHttpSoap12Endpoint" binding="tns:SecureProxySoap12Binding">
            <soap12:address location="http://localhost:8280/services/SecureProxy.SecureProxyHttpSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="SecureProxyHttpsSoap12Endpoint" binding="tns:SecureProxySoap12Binding">
            <soap12:address location="https://localhost:8243/services/SecureProxy.SecureProxyHttpsSoap12Endpoint"/>

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
